

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* RESETS CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* END RESETS */
/*  */


html, 
body{
    height: 100%;
    width: 100%;
    font-family: "Montserrat",  Helvetica, Arial, sans-serif;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    }
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.product-card{
    max-width: 600px;
    height: 450px;
    

    background-color: white;
    display: flex;
    border-radius: 8px;
}
.product-card img{
    width: 50%;
    border-radius: 8px 0 0 8px;
}

.product-info{
    color: #7D7E83;
}

.product-info h1{
    font-size: 12px;
    letter-spacing: .4rem;
    margin-bottom: 24px;

}
.product-info h2{
    margin-bottom: 30px;
    font-family: "Fraunces", 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 1.01;
    color: #182128;
    
}

.product-info{
    padding: 34px 32px;
}

.description{
    margin-bottom: 34px;
    line-height: 1.5;
}
.price{
    width: 100%;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price h2{
    margin-bottom: 0;
    font-family: "Fraunces", 'Times New Roman', Times, serif;
    font-size: 31px;
    color: #408169;
}
.price p{
    text-decoration-line: line-through;
    padding-right: 32px;
}

button{
    
    width: 237px;
    height: 48px;
    color: white;
    background-color: #408169;
    border: none;
    border-radius: 7px;
}

button:hover{
    background-color: #1A4031;
    cursor: pointer;
}

.product-info button img{
    width: 14px;
    height: auto;
}
.product-info button span{
   font-weight: 700;
}


/* Footer and credits */

.attribution {
    bottom: 10px;
    position: fixed;
    padding-bottom: 30px;
    font-size: 11px;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* MEDIA QUERIES */

@media (max-width: 650px) {

    
    .product-card{
        width: 344px;
        height: 610px;
        flex-direction: column;
        justify-content: flex-end;

    }

    .product-card img{
        width: auto;
        height: 39%;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }
    .product-info{
        padding: 24px;
    }

    .product-info h1{
        margin-bottom: 14px;
    }
    
    .product-info h2{
        line-height: 1.06em;
        margin-bottom: 18px;
    }

    .product-info p{
        font-size: 13px;
        line-height: 1.73em;
        margin-bottom: 50px;
    }

    .price{
        height: auto;
        justify-content: flex-start;
        margin-bottom: 24px;
    }

    .price p{
        margin: 0;
        margin-left: 25px;
    }
    button{
        width: 100%;
    }

    .attribution{
        margin-top: 40px;
        position: relative;
        padding-bottom: 0;
    }
    
}

